<div class="dashboard_left-container">
  <div class="c-card">
    <div class="row user-profile">
      <div class="user-profile__basic-details">
      <div class="user-profile__image">
      <img src="https://prog-8.com/assets/default_user_image-147cbfe98d6e858e8ada2bfb2111b29cb325a7441ec3eabe9230355bd8d1d641.jpg" class="profile-image">
    </div>
    <div class="user-profile__status"><div class="user-profile__name">たお</div>
    <div class="user-profile__level">Lv. 67</div>
  </div>
  </div>
  <div class="user-profile__separator">  
  </div>
  <div class="user-profile__cleared-pages">
    <div class="user-profile__cleared-count">
      <img src="https://prog-8.com/assets/packs/dist/images/lesson-6dd027a7a83c2171523c..svg">141</div>
      <div class="user-profile__cleared-text">総演習クリア数</div>
    </div>
    <div class="user-profile__separator"></div>
    <div class="user-profile__cleared-lessons">
      <div class="user-profile__cleared-count">
        <img src="https://prog-8.com/assets/packs/dist/images/completed-ribbon-6ef701192c22d265157c..svg">8</div>
        <div class="user-profile__cleared-text">修了レッスン数</div>
      </div>
    </div>
  </div>
</div>