<p>ここはいいね一覧ページ</p>
<%= link_to @customer.name, customer_path(@customer.id) %>
<i class="fa fa-heart unlike-btn"></i>
<%= @favorite_tasks.length %>
<% @favorite_tasks.each do |task|%>
<%=task.title %>
<% end %>