<div class="topPage">
  <div class="listWrapper">
<div><%= @customer.name %></div>
<%= link_to "編集",edit_customer_path %>

<% @tasks.each do |task| %>
<div class="list">
<div class="list_header">
  <p class="list_header_title">タスク名：<%= task.title %></p>
  <p class="list_header_title">タスク内容：<%= task.body %></p>
</div>
</div>
<% end %>
</div>
</div>