  <% if task.favorited_by?(current_customer) %>
    <p>
      <%= link_to task_favorites_path(task), method: :delete do %>
       <i class="fas fa-flag"></i><%= task.favorites.count %> 応援する
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to task_favorites_path(task), method: :post do %>
        <i class="fas fa-flag"></i><%= task.favorites.count %>　応援する
      <% end %>
    </p>
  <% end %>