<div class="topPage">
  <h2>タスク一覧</h2>
  <div class="listWrapper">
    <% @tasks.each do |task| %>
      <%= render "index", task: task %>
    <% end %>
  </div>
    <div class="row">
      <div class="col-md-10 text-right link", style=text-decoration:underline>
         <%= paginate @tasks %>
      </div>
    </div>
</div>